.logo_ilustracao{
    width: 18%;
    height: 17%;
    margin-left: -5%;
}
.logo_nome{
    width: 30%;
    height: 20%;
    margin-left: 26%;
    margin-bottom: -9%;
    margin-right: -2.5%;
}